.main{
    background-color: rgb(123, 123, 129);
    display: grid;
    margin-left: 500px;
    margin-bottom: 10px;
    width: 350px;
    border-radius: 10px;
}

.control-container{
    background-color: rgb(212, 226, 230);
    margin: 10px;
    border-radius: 10px;

}

.h3{
    margin-left: 10px;
}

.container {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 226, 230);
}

  .grid div {
    height: 20px;
    width: 20px;
  }
  
  .tetromino {
    background-color: blue;
  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 226, 230);
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }


  button{
      margin-left: 50px;
      margin-bottom: 5px;
  }