.main{
    background-color: rgb(123, 123, 129);
    display: grid;
    margin-left: 500px;
    margin-bottom: 10px;
    width: 370px;
    height: 550px;
    border-radius: 10px;
}

.control-container{
    background-color: rgb(212, 226, 230);
    grid-row: 0/2;
    display: grid;
    margin: 10px;
    padding: 0px;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    font-size: 2vh;

}

#div-numbers{
  grid-column: 0 ;
  grid-row: 0;
}

#div-buttons{
  grid-column:2 ;
  grid-row: 0;
}

.container {
    height: 500px;
    display: flex;
    margin-left: 10px;
  }
  
  
  .grid {
    height: 462px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

  .grid div {
    height: 20px;
    width: 20px;
  }

  .box{
    background-color: rgb(66, 64, 39);
    height: 20px;
    width: 20px;
    margin: 0.5px 0.5px 0.5px 0.5px;
  }
  
  .tetromino {
    background-color: blue;
  }
  
  
  .mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 226, 230);
  }
  
  .mini-grid div {
    height: 20px;
    width: 20px;
  }


  button{
      border-radius: 20px;
  }

  #restart-button{
    background-color: orange;
    grid-row-start: span;
    grid-column-start: span;

  }

#start-button{
  background-color: green;
}


